<html>
    <head>
        <title>About</title>    
    </head>
    <body style="margin: 0px;">
        <%- include ("partials/Header"); -%>        
        <div class="container-fluid">
            <p>
                This is a new  Website. It is created using NodeJS, express framework and EJS. <br>
                The creator of the Website is in the initial phase of learning the Website development <br>
                using NodeJS.
            </p>
        </div>
    </body>    
</html>
<%- include ("partials/Footer"); -%>   