<html>
    <head>
        <title>Movies Bucket</title>    
    </head>
    <body style="margin: 0px;">
        <%- include ("partials/Header"); -%>        
        <div class="container">
            <div class="row">
                <div class="col" style="margin-top: 10px;">
                    <img src="/images/Endgame.jpg" alt="Endgame" >  
                </div> 
            </div>
            <hr class="hr-primary">
            <div class="row">
                <p ><h6 style="text-align: justify;">
                Hollywood is a neighborhood in the central region of Los Angeles, California, notable as the 
                home of the U.S. film industry, including several of its historic studios. Its name has come to be a shorthand reference 
                for the industry and the people associated with it.
               
                Hollywood was incorporated as a municipality in 1903. It was consolidated with the city of Los Angeles in 1910, and soon 
                thereafter a prominent film industry emerged, eventually becoming the most recognizable in the world.
                Given Hollywood's status as a center of movie production, the name functions as a shorthand for the film industry in many 
                cultures and languages. The result has been a proliferation of portmanteaus in other countries for similar places which are 
                tied to film. Likely the best known example is Bollywood which is the Indian film industry which is based in Mumbai and 
                formerly referred to as Bombay. A few other examples are Görliwood for the Görlitz/Zgorzelec metropolitan area along the 
                Lusatian Neisse River, HollyŁódź in Łódź, Poland, and Tollywood from Tollygunge or Telugu-language film and Hollywood.
               
                The annual Hollywood Christmas Parade: The 2006 parade on Nov 26 was the 75th edition of the Christmas Parade. The parade 
                goes down Hollywood Boulevard and is broadcast in the Los Angeles area on KTLA, and around the United States on Tribune-owned 
                stations and the WGN superstation
                </h6></p>
            </div>
            <hr>
            <div class="row">
                For more movies information: 
                <a href="Movies" class="btn btn-link" style="text-decoration: none;">Movies List</a>
                
            </div>
            <hr>
            <div class="row"><br></div>
        </div>
        
    </body>
</html>
<%- include ("partials/Footer"); -%>   